## ignore old files 
./old/**

## ignore test files
*.test.*

## ignore ds stores
./data/*.DS_Store

## ignore large h5 files
./data/h5/*.h5

## ignore ipython notebooks and checkpoints
*.ipynb
*.ipynb_checkpoints

## ignore python cached files
*_pycache_*

## ignore png and pdf figures
./figures/*.png
./figures/*.pdf
./figures/juicebox/*
./figures/h5/*
./figures/tracks/*
